.post-item {
  border: 1px solid var(--main-color);;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 15px;
  h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
}
