@import 'variables/variables';
@import './main-layout/main-layout';

body {
  font-family: Calibri, serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: var(--container-width);;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}

.small-container {
  max-width: var(--small-container-width);
  width: 400px;
  margin: 0 auto;
}

.form-wrapper {
  max-width: 400px;
  width: 400px;
  margin: 0 auto;

  input {
    display: block;
    width: var(--full-width);;
    padding: 10px 5px;
    box-sizing: border-box;
  }
}

a {
  cursor: pointer;
}

textarea {
  width: var(--full-width);;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  box-sizing: border-box;
}

