<template>
  <div>
    <h5>{{ post.title }}</h5>
    <div class="date">
      {{ post.date }}
    </div>
    <hr>
    <div class="content">
      {{ post.content }}
    </div>
    <div>
      <router-link
        tag="a"
        :to="{
          path: '/post-full/' + post.id,
        }"
      >
        Show more
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BAllPostsListItem',

  props: {
    post: Object,
  },
};
</script>


<style lang="scss" scoped>

</style>
