<template>
  <div class="posts-wrapper">
    <b-all-posts-list-item
      v-for="(post, index) in handlePostList"
      :key="index"
      class="post-item"
      :post="post"
    />
  </div>
</template>

<script>
import {
  mapState,
  mapActions,
  mapGetters,
} from 'vuex';
import BAllPostsListItem from './BAllPostsListItem';

export default {
  name: 'BAllPostsList',

  components: {
    BAllPostsListItem,
  },

  computed: {
    ...mapState('posts', ['postsList']),

    ...mapState('users', ['currentUser']),

    ...mapGetters('posts', ['postsHomePage']),

    handlePostList() {
      if (this.currentUser.id) {
        return this.postsHomePage.filter((data) => {
          if (data.authId !== this.currentUser.id) {
            return data;
          }
          return false;
        });
      }
      return this.postsHomePage;
    },
  },

  mounted() {
    this.loadPosts();
  },

  methods: {
    ...mapActions('posts', ['loadPosts']),
  },
};
</script>

<style lang="scss" scoped>
</style>
