<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="app-registration">
    <h1>Registration</h1>
    <div class="form-wrapper">
      <form @submit.prevent="onSubmit()">
        <b-form-input
          v-model="nickName"
          :valid="$v.nickName"
          :type="'text'"
          :labelText="'Enter Nickname'"
          :inputId="'nickname'"
        />
        <b-form-input
          v-model="email"
          :valid="$v.email"
          :type="'email'"
          :labelText="'Enter email'"
          :inputId="'email'"
        />
        <b-form-input
          v-model="pass"
          :valid="$v.pass"
          :type="'password'"
          :labelText="'Enter password'"
          :inputId="'password'"
        />
        <b-form-input
          v-model="passConfirm"
          :valid="$v.passConfirm"
          :type="'password'"
          :labelText="'Confirm password'"
          :inputId="'password-confirm'"
        />
        <div class="form-control">
          <input
            id="submit-login"
            type="submit"
            value="Submit"
            :disabled="$v.$invalid"
          >
        </div>
      </form>
    </div>
    <b-modal-window
      v-if="successRegistrationModal"
      @clicked="hideSuccessRegistrationModal">
      <template v-slot:modalTitle>
        Success!!!
      </template>
      <template v-slot:modalContent>
        New user success created
      </template>
    </b-modal-window>
  </div>
</template>

<script>
import {
  required,
  email,
  minLength,
  sameAs,
} from 'vuelidate/lib/validators';
import {
  mapActions,
  mapState,
} from 'vuex';
import { uniqueEmail } from '@/utils/validators/unicEmail';
import { uniqueNickName } from '@/utils/validators/uniqueNickName';
import BModalWindow from '@/components/ui-components/BModalWindow';
import BFormInput from '@/components/ui-components/BFormInput';


export default {
  name: 'AppRegistration',

  components: {
    BModalWindow,
    BFormInput,
  },

  data() {
    return {
      nickName: '',
      email: '',
      pass: '',
      passConfirm: '',
    };
  },

  computed: {
    ...mapState('users', ['successRegistrationModal']),
  },

  methods: {
    ...mapActions('users', ['regNewUser', 'hideSuccessRegistrationModal']),

    onSubmit() {
      this.regNewUser({
        nickName: this.nickName,
        email: this.email,
        password: this.pass,
      });
    },
  },

  validations: {
    email: {
      required,
      email,
      uniqueEmail,
    },
    pass: {
      required,
      minLength: minLength(6),
    },
    passConfirm: {
      required,
      sameAs: sameAs('pass'),
    },
    nickName: {
      required,
      uniqueNickName,
    },
  },
};
</script>

<style scoped lang="scss">
  .app-registration {
    max-width: 400px;
    width: 400px;
    margin: 0 auto;
  }
</style>
