<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="app-login">
    <h1>Login</h1>
    <div class="form-wrapper">
      <form @submit.prevent="onSubmit()">
        <b-form-input
          v-model="email"
          :valid="$v.email"
          :type="'email'"
          :labelText="'Enter email'"
          :inputId="'email'"
        />
        <b-form-input
          v-model="pass"
          :valid="$v.pass"
          :type="'password'"
          :labelText="'Enter password'"
          :inputId="'password'"
        />
        <div class="form-control">
          <input
            id="submit-login"
            type="submit"
            value="Submit"
            :disabled="$v.$invalid"
          >
        </div>
      </form>
    </div>
    <b-modal-window
      v-if="successLoginModal"
      @clicked="hideSuccessLoginModal">
      <template v-slot:modalTitle>
        Success!!!
      </template>
      <template v-slot:modalContent>
        You are logged in as -
        <strong>
          {{ currentUser.nickName }}
        </strong>
      </template>
    </b-modal-window>
    <b-modal-window
      v-if="errorLoginModal"
      @clicked="hideErrorLoginModal">
      <template v-slot:modalTitle>
        Error!!!
      </template>
      <template v-slot:modalContent>
        Wrong email or password
      </template>
    </b-modal-window>
  </div>
</template>

<script>
import {
  required,
  email,
  minLength,
} from 'vuelidate/lib/validators';
import {
  mapActions,
  mapState,
} from 'vuex';
import BModalWindow from '@/components/ui-components/BModalWindow';
import BFormInput from '@/components/ui-components/BFormInput';

export default {
  name: 'AppLogin',

  components: {
    BModalWindow,
    BFormInput,
  },

  data() {
    return {
      email: '',
      pass: '',
      bar: '',
    };
  },

  computed: {
    ...mapState('users', ['userLoginModalShow', 'successLoginModal', 'errorLoginModal', 'currentUser']),
  },

  methods: {
    ...mapActions('users', ['logInUser', 'hideSuccessLoginModal', 'hideErrorLoginModal']),

    onSubmit() {
      this.logInUser({
        email: this.email,
        pass: this.pass,
      });
    },
  },

  validations: {
    email: {
      required,
      email,
    },

    pass: {
      required,
      minLength: minLength(6),
    },
  },
};
</script>

<style scoped lang="scss">
.app-login {
  max-width: 400px;
  width: 400px;
  margin: 0 auto;
}
</style>
