<template>
  <div class="posts-wrapper">
    <b-posts-list-item
      v-for="(post, index) in postsMyProfile"
      :key="index"
      class="post-item"
      :post="post"
    />
  </div>
</template>

<script>
import {
  mapState,
  mapActions,
  mapGetters,
} from 'vuex';
import BPostsListItem from './BPostsListItem';

export default {
  name: 'BPostsList',

  components: {
    BPostsListItem,
  },

  data() {
    return {
      showModal: false,
    };
  },

  computed: {
    ...mapState('users', ['currentUser']),

    ...mapGetters('posts', ['postsMyProfile']),
  },

  mounted() {
    this.loadUserPosts(this.currentUser.id);
  },

  methods: {
    ...mapActions('posts', ['loadUserPosts']),
  },
};
</script>

<style scoped>

</style>
