<template>
  <div class="post-list-item-wrapper">
    <div
      v-show="!show"
      class="shown-post"
    >
      <h5>{{ post.title }}</h5>
      <div class="date">
        {{ post.date }}
      </div>
      <hr>
      <div class="content">
        {{ post.content }}
      </div>
      <b-grenn-btn
        :btnTitle="'Edit'"
        @clicked="showEditToogle"
      />
      <b-grenn-btn
        :btnTitle="'Delete'"
        @clicked="deletePostItem"
      />
      <div>
        <router-link
          tag="a"
          :to="{
            path: '/post-full/' + post.id,
          }"
        >
          Show more
        </router-link>
      </div>
    </div>
    <div
      v-show="show"
      class="edit-post"
    >
      <form>
        <div class="edit-title-wrapper">
          <input
            v-model="editTitle"
            type="text"
          >
        </div>
        <div class="date">
          {{ post.date }}
        </div>
        <hr>
        <div class="edit-content">
          <textarea v-model="editContent" />
        </div>
        <b-grenn-btn
          :btnTitle="'Save'"
          @clicked="saveEdit"
        />
        <b-grenn-btn
          :btnTitle="'Cancel'"
          @clicked="showEditToogle"
        />
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import BGrennBtn from '@/components/ui-components/BButton';

export default {
  name: 'BPostsListItem',

  components: {
    BGrennBtn,
  },

  props: {
    post: Object,
  },

  data() {
    return {
      show: false,
      editTitle: this.post.title,
      editContent: this.post.content,
    };
  },

  methods: {
    ...mapActions('posts', ['editPost']),

    ...mapActions('posts', ['deletePost']),

    showEditToogle() {
      this.show = !this.show;
      this.editTitle = this.post.title;
      this.editContent = this.post.content;
    },

    saveEdit() {
      this.editPost({
        title: this.editTitle,
        content: this.editContent,
        authId: this.post.authId,
        id: this.post.id,
      });
      this.showEditToogle();
    },

    deletePostItem() {
      this.deletePost({
        id: this.post.id,
        authId: this.post.authId,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.post-list-item-wrapper {

  a {
    margin-right: 5px;
    margin-top: 7px;
    cursor: pointer;
  }

  .edit-post {

    input {
      display: block;
      margin-block-start: 1.67em;
      margin-block-end: 1.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 18px;
      width: var(--full-width);;
    }

    textarea {
      display: block;
      min-width: var(--full-width);;
      max-width: var(--full-width);;
      min-height: unset;
    }
  }
}
</style>
