<template>
  <a
    :class="['option-btn', btnType]"
    @click="clickHandler"
  >{{ btnTitle }}
  </a>
</template>

<script>
export default {
  name: 'BGrennBtn',

  props: {
    btnTitle: String,

    btnType: {
      type: String,
      default: 'primary',
    },
  },

  methods: {
    clickHandler() {
      this.$emit('clicked');
    },
  },
};
</script>

<style lang="scss" scoped>
.option-btn {
  display: inline-block;
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 15px;

  &.primary {
    background: var(--lightgreen);
  }
}
</style>
