<template>
  <div class="b-form-input form-control">
    <label :for="inputId">{{ labelText }}</label>
    <input
      :id="inputId"
      v-model="inputValue"
      class="form-input"
      :class="{'has-error': valid.$error}"
      :type="type" @blur="valid.$touch()"
      @input="inputHandler($event.target.value)"
    >
    <div v-if="valid && valid.$dirty">
      <div
        v-for="(validator, index) in validators"
        :key="index"
      >
        <div v-if="!valid[validator]" class="error">
          <span v-if="innerValidatorText">{{ innerValidatorText[validator] }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validatorText } from '@/utils/validator-text/validator-text';

export default {
  name: 'BFormInput',

  props: {
    value: [String, Number],
    valid: Object,
    type: String,
    labelText: String,
    inputId: String,
  },

  data() {
    return {
      inputValue: this.value,
      validators: [],
      innerValidatorText: validatorText,
      inputValid: this.valid,
    };
  },

  mounted() {
    this.getValidators();
  },

  methods: {
    getValidators() {
      this.validators = [];
      for (const key in this.valid) {
        if (key) {
          if (key === '$model') break;
          this.validators.push(key);
        }
      }
    },

    inputHandler(val) {
      this.$emit('input', val);
    },
  },
};
</script>

<style lang="scss" scoped>
  .form-control {
    margin-bottom: 15px;

    .error {
      color: red;
    }
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  .form-input {
    display: block;
    width: var(--full-width);;
    padding: 10px 5px;
    box-sizing: border-box;
    border: var(--main-input-border);
    border-radius: 7px;
    outline: none;

    &:focus {
      border: 1px solid #add8e6;
      box-shadow: var(--light-blue-bow-shadow);
    }

    &.has-error {
      border: var(--main-input-border-error);
    }
  }
</style>
