<template>
  <div
    class="b-modal-window modal-bg"
  >
    <div class="modal-content-wrapper">
      <h3>
        <slot name="modalTitle" />
      </h3>
      <p>
        <slot name="modalContent" />
      </p>
      <button @click="clickHandler">
        Close
      </button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'BModalWindow',

  methods: {
    clickHandler() {
      this.$emit('clicked');
    },
  },
};
</script>

<style lang="scss" scoped>
.modal-bg {
  position: fixed;
  width: var(--full-width);;
  height: 100%;
  background: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  .modal-content-wrapper {
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    background: var(--white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
