<template>
  <div class="app-home">
    <div class="container">
      <h1>Posts</h1>
      <b-all-posts-list />
    </div>
  </div>
</template>

<script>
import BAllPostsList from '@/components/business-components/home/BAllPostsList';

export default {
  name: 'AppHome',

  components: {
    BAllPostsList,
  },

  filters: {
    checkForAuthqq() {
      return true;
    },
  },

  data() {
    return {
      modal: false,
    };
  },

  componentes: {
    BAllPostsList,
  },


};
</script>

<style scoped lang="scss">
.app-home {
}
</style>
