<template>
  <div class="page-lull-post">
    <div class="container">
      <h1 class="post-title">
        {{ currentPost.title }}
      </h1>
      <h5 class="post-date">
        {{ currentPost.date }}
      </h5>
      <hr>
      <div class="post-content">
        {{ currentPost.content }}
      </div>
      <b-add-coment
        v-if="currentUser.id"
        :post="currentPost"
      />
      <div v-if="currentPost.comments && currentPost.comments.length > 0">
        <hr>
        <h2>Comments</h2>
        <b-comments-list
          :post-info="currentPost"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {
  mapActions,
  mapState,
} from 'vuex';
import BAddComent from '@/components/business-components/full-post/BAddComent';
import BCommentsList from '@/components/business-components/full-post/BCommentsList';

export default {
  name: 'pageFullPost',

  components: {
    BAddComent,
    BCommentsList,
  },

  computed: {
    ...mapState('posts', ['currentPost']),
    ...mapState('users', ['currentUser']),
  },

  created() {
    this.fullInfoPost(this.$router.currentRoute.params.id);
  },

  methods: {
    ...mapActions('posts', ['fullInfoPost']),
  },

};
</script>

<style lang="scss" scoped>
.page-lull-post {
  h1 {
    margin-bottom: 5px;
  }

  h5 {
    color: gray;
    margin-top: 0;
  }
}
</style>
