<template>
  <header class="header">
    <div id="nav">
      <ul class="main-nav">
        <router-link
          :to="{ name: 'home' }"
          tag="li"
        >
          Home
        </router-link>
        <router-link
          v-if="!isAuth"
          to="/login"
          tag="li"
        >
          Login
        </router-link>
        <router-link
          v-if="!isAuth"
          to="/registration"
          tag="li"
        >
          Registration
        </router-link>
        <router-link
          v-if="isAuth"
          to="/my-profile"
          tag="li"
        >
          My profile
        </router-link>
        <li
          v-if="isAuth"
          @click="logOut"
        >
          LogOut
        </li>
        <li v-if="isAuth">
          <div>Welcome,</div>
          <div>{{ currentUser.nickName }}</div>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'AppHeader',

  computed: {
    ...mapState('users', ['currentUser', 'isAuth']),
  },

  created() {
    this.checkForAuth();
  },

  methods: {
    ...mapActions('users', ['loadCurrentUser', 'logOutUser']),

    checkForAuth() {
      const userId = sessionStorage.getItem('user_id');

      if (userId) {
        this.loadCurrentUser(userId);
      }
    },

    logOut() {
      this.logOutUser();
      sessionStorage.removeItem('user_id');
      if (this.$route.name !== 'home') this.$router.push({ name: 'home' });
    },
  },
};
</script>

<style lang="scss" scoped>
  .header {
    .main-nav {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      align-items: center;
      background: var(--main-color);
      color: var(--white);
      font-size: 22px;
      padding: 20px 10px;
      cursor: pointer;
      margin: 0;

      li {
        padding: 0 5px;

        &:hover {
          color: #cffcff;
        }

        &.router-link-exact-active {
          color: #cffcff;
        }

        div {
          font-size: 12px;
        }
      }
    }
  }
</style>
