<template>
  <div class="add-comment">
    <h2>Add new Comment</h2>
    <form
      @submit.prevent="onSubmit()"
    >
      <textarea
        v-model="content"
        @blur="$v.content.$touch()"
      />
      <input
        type="submit"
        value="submit"
        :disabled="$v.$invalid"
      >
    </form>
  </div>
</template>

<script>
import {
  required,
} from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';

export default {
  name: 'BAddComent',

  props: {
    post: Object,
  },

  data() {
    return {
      content: '',
    };
  },

  computed: {
    ...mapState('users', ['currentUser']),
  },

  methods: {
    ...mapActions('posts', ['commentHandler']),

    onSubmit() {
      const newCommentList = this.post.comments;
      newCommentList.unshift({
        authName: this.currentUser.nickName,
        authId: this.currentUser.id,
        text: this.content,
      });
      this.commentHandler({
        newCommentList,
        postId: this.post.id,
      });
      this.content = '';
    },
  },

  validations: {
    content: {
      required,
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
