<template>
  <div class="comments-list">
    <div
      v-for="(comment, index) in postInfo.comments"
      :key="index"
      class="comment-item"
    >
      <div class="comment-auth">
        {{ comment.authName }}
      </div>
      <div v-if="currentUser.id === postInfo.authId || currentUser.id === comment.authId">
        <a @click="deleteComment(index)">Delete comment</a>
      </div>
      <hr>
      <div class="comment-text">
        {{ comment.text }}
      </div>
    </div>
  </div>
</template>

<script>
import {
  mapActions,
  mapState,
} from 'vuex';

export default {
  name: 'BCommentsList',

  props: {
    postInfo: Object,
  },

  computed: {
    ...mapState('users', ['currentUser']),
  },

  methods: {
    ...mapActions('posts', ['commentHandler']),

    deleteComment(index) {
      this.postInfo.comments.splice(index, 1);
      this.commentHandler({
        newCommentList: this.postInfo.comments,
        postId: this.$router.currentRoute.params.id,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.comments-list{
  .comment-item {
    border: 1px solid var(--main-color);;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 7px;
  }
}
</style>
