<template>
  <div class="app-my-profile">
    <div class="container">
      <h1>Hello, {{ currentUser.nickName }}</h1>
      <router-link
        to="/add-post"
        tag="a"
        class="add-new-post-btn"
      >
        Add a new post
      </router-link>
      <b-posts-list />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import BPostsList from '@/components/business-components/my-profile/BPostsList';


export default {
  name: 'AppMyProfile',

  components: {
    BPostsList,
  },

  computed: {
    ...mapState('users', ['currentUser']),
  },
};
</script>


<style lang="scss">
.app-my-profile {
  .add-new-post-btn {
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;
    background: var(--lightgreen);;
    text-decoration: none;
    color: var(--white);
    margin-bottom: 15px;
  }
}
</style>
