<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="page-add-post small-container">
    <h1>Add a new post</h1>
    <button @click="back">
      Back
    </button>
    <div class="form-wrapper">
      <form @submit.prevent="onSubmit()">
        <div class="form-control">
          <label for="title">Enter title</label>
          <input
            id="title"
            v-model="title"
            type="text"
            @blur="$v.title.$touch()"
          >
          <div
            v-if="!$v.title.required && $v.title.$dirty"
            class="error"
          >
            Field is require
          </div>
        </div>
        <div class="form-control">
          <label for="content">Enter content</label>
          <textarea
            id="content"
            v-model="content"
            @blur="$v.content.$touch()" />
          <div
            v-if="!$v.content.required && $v.content.$dirty"
            class="error"
          >
            Field is require
          </div>
        </div>
        <div class="form-control">
          <input
            id="submit-login"
            type="submit"
            value="Submit"
            :disabled="$v.$invalid"
          >
        </div>
      </form>
    </div>
    <b-modal-window
      v-if="addNewPostModal"
      @clicked="hideAddNewPostModal">
      <template v-slot:modalTitle>
        Success!!!
      </template>
      <template v-slot:modalContent>
        New post successfully created
      </template>
    </b-modal-window>
  </div>
</template>

<script>
import {
  required,
} from 'vuelidate/lib/validators';
import {
  mapState,
  mapActions,
} from 'vuex';
import BModalWindow from '@/components/ui-components/BModalWindow';

export default {
  name: 'PageAddPost',

  components: {
    BModalWindow,
  },

  data() {
    return {
      title: '',
      content: '',
    };
  },

  computed: {
    ...mapState('users', ['currentUser']),
    ...mapState('posts', ['addNewPostModal']),
  },

  methods: {
    ...mapActions('posts', ['addNewPost', 'hideAddNewPostModal']),

    onSubmit() {
      const data = {
        title: this.title,
        content: this.content,
        date: new Date().toJSON().slice(0, 10).replace(/-/g, '/')
          .split('/')
          .reverse()
          .join('.'),
        authId: this.currentUser.id,
        comments: [],
      };
      this.addNewPost(data);
      this.title = '';
      this.content = '';
    },

    back() {
      this.$router.push({ name: 'my-profile' });
    },
  },

  validations: {
    title: {
      required,
    },
    content: {
      required,
    },
  },
};
</script>

<style scoped lang="scss">
  .page-add-post {
      button {
        background: var(--blue);
        color: var(--white);
        border: none;
        font-size: 16px;
        box-sizing: border-box;
        padding: 5px;
      }
  }
</style>
