<template>
  <div id="app">
    <app-header />
    <router-view />
  </div>
</template>

<script>

import AppHeader from '@/components/layout/AppHeader';

export default {
  name: 'app',

  components: {
    AppHeader,
  },
};
</script>


<style lang="scss">
@import '/assets/scss/main';

#app {

}
</style>
